data/
data_extra/
video_indices/
image_indices/
meta_indices/
__pycache__/
data_extra/
tmp*
*.bin
*.zip
*.openfile
*.dll
node_modules/
preview_image/
hachiConfig.json
face_clusters.json
*.jpg
*.png

*.bin/
*.python_modules/

desktop_app/
research_exp
venv/
.vite/

.github/
*.ts.md